/* Podcast Page Styles */

:root {
  /* TODO: podcast color vars */
}

body.podcast-page {
  /* TODO: bg + layout just for podcast page */
}

.hero-section {
  /* TODO: stubs */
}

.parallax-layer {
  /* TODO: stubs */
}

.storybook-title {
  /* TODO: stubs */
}